In [2]:
%cd /home/kobayashi/project/B4_research/src

/home/kobayashi/project/B4_research/src

In [3]:
import os
assert os.getcwd() == "/home/kobayashi/project/B4_research/src"

In [9]:
import os
import numpy as np
import pandas as pd

import argparse

In [47]:
parser = argparse.ArgumentParser(description='Make GP wotan & TLS python script from "output/sectorxx/all_df_sort_pmax.csv"')
parser.add_argument('--upper_thresh', type=float, default=1.0, help='upper threshold of Pmax value')
parser.add_argument('--lower_thresh', type=float, default=0.8, help='lower threshold of Pmax value')
parser.add_argument('--experiment_name', type=str, default=None, help='folder under output dir according to the experiment')
parser.add_argument('--sector_number', type=int, default=None, help='the number of sector')

args = parser.parse_args([])

In [32]:
all_sorted_df = pd.read_csv('../output/sector45/all_df_sort_pmax.csv', index_col=0)

In [33]:
all_sorted_df.head()

,f,P,amp,ph,T0,offset,e_amp,e_ph,e_T0,e_offset,e_f,e_P,pmax
TIC60152853_SECTOR45,3.682203,0.271577,0.119454,0.345136,2526.247980,0.996997,0.000076,0.000101,0.000027,0.000054,0.000019,0.000001,0.993834
TIC440779601_SECTOR45,1.802127,0.554900,0.059327,0.332675,2526.297980,0.999971,0.000047,0.000126,0.000070,0.000033,0.000024,0.000007,0.990497
TIC79674168_SECTOR45,0.291133,3.434855,0.026527,0.449973,2524.493912,1.001149,0.000022,0.000135,0.000462,0.000016,0.000026,0.000301,0.988535
TIC312563333_SECTOR45,0.522934,1.912288,0.014608,0.026677,2525.988563,1.000472,0.000013,0.000147,0.000281,0.000010,0.000029,0.000105,0.986518
TIC320536498_SECTOR45,4.868994,0.205381,0.092879,0.153965,2526.188709,0.994316,0.000088,0.000150,0.000031,0.000062,0.000029,0.000001,0.986354

In [37]:
select_df = all_sorted_df[(args.upper_thresh >= all_sorted_df['pmax']) &  (all_sorted_df['pmax'] >= args.lower_thresh)]

In [38]:
python execute_wotan_tls.py --TOI 3353 --sector 4 --window_length 0.4 --experiment_name TOI

(349, 13)

In [ ]:
python execute_wotan_gls.py --TIC 257605131 --experiment_name validated_candidates --method gp --kernel squared_exp --kernel_size 1 --tag 13

In [60]:
for idx, (tic_id, row) in enumerate(select_df.iterrows()):
    tic_number = tic_id.split('_')[0].split('TIC')[1]
    print(f'python execute_wotan_tls.py --TIC {tic_number} --sector_number {args.sector_number} --experiment_name {args.experiment_name} --method gp --kernel squared_exp --kernel_size 1 --tag {idx + 1}')
    break

python execute_wotan_tls.py --TIC 60152853 --experiment_name None --method gp --kernel squared_exp --kernel_size 1 --tag 1

In [53]:
for a, (b, c) in enumerate(select_df.iterrows()):
    break

In [59]:
tic_id.split('_')[0].split('TIC')[1]

'60152853'